body {
  height: 100vh;
  overflow: hidden;
  font-family: "Roboto", -apple-system, "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

* {
  -webkit-overflow-scrolling: touch;
  margin: 0;
  padding: 0;
}
